<h5 class="mt-2">Фильтры</h5>

<form class="mt-3" method="GET" action=".">
    <div class="form-row">
        <div class="form-group col-12">
            <div class="input-group">
                <input id="id_q" class="form-control py-2 border-right-0 border" type="search"
                       name="name" placeholder="Наименование"/>
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </span>
            </div>
            <div class="form-group  mt-2">
            <label for="category">Категория
            {% if request.session.selector == 'category_list' %}
                (Главная)
                {% endif %}
            </label>
            <select id="id_q_cat" class="form-control" name="category">
              <option selected>Выбор...</option>
              {% for cat in categories %}
              <option value="{{ cat }}">{{ cat }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
    </div>
<div class="form-row">
<button type="submit" class="btn btn-primary ">Применить</button>
    {% if request.session.selector == 'product_list' %}
<a class=" ml-2 btn btn-primary" href="{% url 'product_list' %}" role="button">Сбросить</a>
        {% elif request.session.selector == 'category_list' %}
        <a class=" ml-2 btn btn-primary" href="{% url 'category_list' %}" role="button">Сбросить</a>
    {% endif %}
    </div>
</form>