
<!-- FILTERED Pagination -->
{% if is_paginated %}

<nav class="mt-5" aria-label="Page navigation">
<ul class="pagination">
	{% if page_obj.has_previous %}
        <li class="page-item">
		  <a class="page-link" href="?{% if query %}name={{query}}&{% endif %}{% if query_cat %}category={{query_cat}}&{% endif %}page={{ page_obj.previous_page_number }}">&laquo; Предыдущие</a>
		</li>
    {% endif %}

	{% for i in page_obj.paginator.page_range %}
		{% if page_obj.number == i %}
			<li class="page-item active"><a class="page-link">{{ i }}</a></li>
		{% else %}
			<li class="page-item" ><a class="page-link" href="?{% if query %}name={{query}}&{% endif %}{% if query_cat %}category={{query_cat}}&{% endif %}page={{ i }}">{{ i }}</a></li>
		{% endif %}
	{% endfor %}

    {% if page_obj.has_next %}
    	<li class="page-item">
		  <a class="page-link" href="?{% if query %}name={{query}}&{% endif %}{% if query_cat %}category={{query_cat}}&{% endif %}page={{ page_obj.next_page_number }}">Следующие</a>
		</li>
		<li class="page-item">
		  <a class="page-link"  href="?{% if query %}name={{query}}&{% endif %}{% if query_cat %}category={{query_cat}}&{% endif %}page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
		</li>
    {% endif %}
</ul>
</nav>

{% endif %}
<!-- end pagination-->