{% extends 'base.html' %}
{% block title %}
    Список покупателей
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="display-4">Список покупателей </h1>
        <div class="row">
            <div class="col-8">
                <ul class="list-group mt-5">
                    {% for buyer in buyers %}

                        <li class="list-group-item d-flex justify-content-between mb-2 text-right">

                            {{ buyer.name }}
                            {% if request.session.selector == 'from_order' %}
                                <a class="btn btn-primary btn-sm" href="{% url 'buyer_for_order' buyer.pk %}"
                                   role="button">Выбрать</a>
                            {% endif %}


                        </li>

                    {% endfor %}
                </ul>
            </div>

            <div class="col border rounded mt-5">
                <p>Фльтры</p>

            </div>
        </div>
    </div>
{% endblock %}

