{% extends 'base.html' %}
{% block title %}
    Категория
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card mt-5 bg-light">
            <div class="card-header text-white bg-primary">
               Создать категорию
            </div>
<div class="row">
<div class="col-7">
            <div class="card-body">
                <p class="card-text">Создайте категорию товара</p>
                <form method="post">
                    <div class="form-group ">
                        {% csrf_token %}

                        {{ form.name.label_tag }}
                        {{ form.name }}</div>
                    <div class="form-group">
                        {{ form.main.label_tag }}
                        {{ form.main }} </div>
                    <div class="form-group ">
                        {{ form.parent.label_tag }}
                        {{ form.parent }}</div>

                    <input type="submit" class="btn btn-primary" value="Создать">
                    <a class="btn btn-primary" href="{% url 'index' %}" role="button">Отмена</a>
                </form>
            </div>
</div>
    <div class="col-4 mt-5">
        <p class ="card-text mt-5">Категории товаров необходимы для удобной работы со справочником товаров в системе автоматизации складских операций</p>
    </div>
</div>
        </div>
    </div>
{% endblock %}
