{% extends 'base.html' %}
{% block title %}
    Список покупателей
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="display-4">Список категорий </h1>
        <div class="row">
            <div class="col-8">
                <ul class="list-group mt-5">
                    {% for category in category %}

                        <li class="list-group-item d-flex justify-content-between mb-2 text-right">

                            {{ category.name  }}

                        </li>

                    {% endfor %}
                </ul>
                <a class="btn btn-primary mt-2 " href="{% url 'category' %}" role="button">Добавить категорию</a>
            </div>


            <div class="col border-left pb-5  mt-5">
                {% include 'includes/filter_product.html' %}


            </div>
        </div>
     {% include 'includes/pagination.html' with page_obj=category %}
    </div>
{% endblock %}
