{% extends 'base.html' %}

{% block title %}
    Поставка принята на склад
{% endblock %}

{% block content %}
<div class="container">
    <div class="card mt-5">
  <div class="card-header">
    {{ mes }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Поставка товаров №{{ supply.pk }}  принята на склад</h5>
          {% for item in supply_items %}
        <p class="card-text"> Поступило {{ item.quantity }} {{ item.product }} теперь на складе - {{ item.product.quantity_in_stock }} </p>
    {% endfor %}

    <a href="{% url 'index' %}" class="btn btn-primary">На главную</a>
  </div>
</div>
</div>
{% endblock %}
