{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}



{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Автоматизачия складских операция</h1>
    <p class="lead">Складской учет. Регистрация товара на складе, для котроля поступления, хранения и отпуска покупателям.</p>
  </div>
</div>
{% endblock %}


