{% extends 'base.html' %}

{% block title %}
   Запрос на отгрузку
{% endblock %}

{% block content %}
<div class="container">
    <div class="card mt-5">
  <div class="card-header">
    Запрос на отгрузку
  </div>
  <div class="card-body">
    <h5 class="card-title">Запрос на отгрузку №{{ order.pk }} от {{ order.date }}</h5>
    <p class="card-text">Запрос на отгрузку товаров от покупателя {{ order.buyer }}</p>

      {% for order_item in order.orderitem_set.all  %}
        <p>Товар: {{ order_item.product }} зарезервированно {{ order_item.quantity }}</p>
      {% endfor %}
    <a href="{% url 'index' %}" class="btn btn-primary">На главную</a>
  </div>
</div>
</div>
{% endblock %}
