{% extends 'base.html' %}
{% block title %}
    Список заявок на отгрузку
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="display-4">Список заявок на отгрузку </h1>
    <div class="row">
    <div class="col-8">
<ul class="list-group mt-5">
        {% for order in orders %}

                <li class="list-group-item d-flex justify-content-between mb-2 text-right">
                    <a href="{%  url 'order_detail_storekeeper' order.pk %}">
                    Отгрузка №{{ order.id }} от {{ order.date }}</a>

                    <small class="text-muted ">
                        Покупатель: {{ order.buyer }}</small>
                    <span class="badge
                    {% if order.status == 0 %}
                    badge-primary
                    {% elif order.status == 1 %}
badge-success
                    {% endif %}
                    badge-pill" >
                        {{ order.get_status_display }}</span>
                </li>

        {% endfor %}
</ul>
    </div>

    <div class="col border rounded mt-5">
        <p>Фльтры</p>

    </div>
</div>
    </div>
{% endblock %}
