{% extends 'base.html' %}
{% block title %}
    Запрос на отгрузку товара
{% endblock %}

{% block content %}
    <div class="container ">
        <div class="card mt-5 bg-light">
            <div class="card-header text-white bg-primary">
                Запрос на отгрузку товара
            </div>
            <div class="card-body">
                <h5 class="display-5 card-title"> Отгрузка № {{ order.pk }} от {{ order.date }} </h5>
                <p class="card-text">{% if order.buyer %} Получатель:  {{ order.buyer }}</p> {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row align-items-end">

                    <div class="col-auto my-1">
                        {{ form_buyer.name.label_tag }}
                        {{ form_buyer.name }}
                    </div>
                    <div class="col-auto my-1">
                    <input type="submit" name="buyer_submit" class="btn btn-primary" value="Добавить">
                    </div>
                        <div class="col-auto my-1">
                    <a class="btn btn-info" href="{% url 'buyer_list' %}" role="button">Выбрать покупателя из списка</a>

                    </div>
                    </div>
                </form>
<hr>
                <p class="card-text mt-2">Добавить товар</p>
                <a class="btn btn-info" href="{% url 'product_list_order' %}">Выбрать товар из списка</a>
                <div class="card bg-light col-md-10 mt-3">
                    <div class="card-body">
                        <h5 class="card-title"> Быстрое добавление </h5>
                        <form method="post" class="mt-4">

                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">

                                    {{ form_order_item.product.label_tag }}
                                    {{ form_order_item.product }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form_order_item.quantity.label_tag }}
                                    {{ form_order_item.quantity }}
                                </div>
</div>
                                <input type="submit" name="order_item_submit" id="submit" class="btn btn-primary"
                                           value="Добавить товар">



                        </form>
                    </div>
                </div>

                <h5 class="mt-3">Товары:</h5>
  <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Артикул</th>
                        <th scope="col">Товар</th>
                        <th scope="col">Категория</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Кол-во</th>
                        <th scope="col">Стоимость</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order_items %}
                        <tr>
                            <th scope="row">{{ item.product.vendor_code}}</th>
                            <td>{{ item.product }}</td>
                            <td>{{ item.product.category }}</td>
                            <td>{{ item.product.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.total_price_item }}</td>
                        </tr>
                    {% endfor %}
                    <tr >
                        <th  class="text-right" colspan="5" >Итого:</th>
                        <th>{{ supply.total_price }}</th>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary" href={% url 'order_send' %} class="button">Оформить поставку</a>
            </div>
        </div>
    </div>
{% endblock %}

