{% extends 'base.html' %}

{% block title %}
    Отгрузка
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                Заявка на отгрузку
            </div>
            <div class="card-body">
                <h5 class="display-5 card-title"> Заявка на отгрузку № {{ order.pk }} от {{ order.date }} </h5>

                <p class="card-text"> Покупатель {{ order.buyer }}</p>

        <p>Товары:</p>

        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">#id</th>
                <th scope="col">Товар</th>
                <th scope="col">Категория</th>
                <th scope="col">Колличество</th>
            </tr>
            </thead>
            <tbody>

            {% for item in order_items %}
                <tr>
                    <th scope="row">{{ item.product.id }}</th>
                    <td>{{ item.product }}</td>
                    <td>{{ item.product.category }}</td>
                    <td>{{ item.quantity }}</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
                {% if order.status != 1 %}
                <a class="btn btn-primary" href="{% url 'shipment_from_stock' order.pk %}" class="button">Притять заявку</a>
            <a class="btn btn-primary" href="#" class="button">Отклонить заявку</a>
            {% endif %}
        </div>

    </div>

{% endblock %}