{% extends 'base.html' %}
{% block title %}

{% endblock %}}

{% block content %}
    <div class="container">
    <div class="card mt-5">
            <div class="card-header">
                Поставка на склад
            </div>
      <div class="card-body">
                <p class="card-text">Добавдение товара к поставке № {{ supply.pk }}</p>
                        <form method="post" class="mt-4">

                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-4">

                                    {{ form.product.label_tag }}
                                    {{ form.product }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.quantity.label_tag }}
                                    {{ form.quantity }}
                                </div>
</div>


                                <div class="form-group" >

                                    <input type="submit" id="submit" class="btn btn-primary" value="Добавить">
                                </div>

                        </form>
                    </div>
                </div>

    </div>
{% endblock %}
