{% extends 'base.html' %}
{% block title %}
    Список товаров
{% endblock %}
{% block content %}

    <div class="container mt-5">
        <h1 class="display-4">Список товаров </h1>
        <div class="row">
            <div class="col-8">

                <table class="table table-hover mt-5">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Категория</th>
                        <th scope="col">Цена</th>
                        <th scope="col">на складе</th>
                        <th scope="col">резерв</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>

                            <th scope="row">
                                {% if request.session.selector == 'from_supply' %}
                                    <a href="{% url 'product_detail_supply' product.pk %}">
                                {% elif request.session.selector == 'from_order' %}
                                    <a href="{% url 'product_detail_order' product.pk %}">
                                {% elif request.session.selector == 'product_list' %}
                                    <a href="{% url 'product_detail' product.pk %}">
                                {% endif %}
                                {{ product.name }}</a>
                            </th>
                            <td>{{ product.category }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.quantity_in_stock }}</td>
                            <td>{{ product.reserve }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

            <div class="col border-left rounded mt-5">
                {% include 'includes/filter_product.html' %}
            </div>
        </div>
        <a class="btn btn-primary mt-2" href="{% url 'product' %}" role="button">Добавить товар</a>

        {% include 'includes/pagination.html' with page_obj=products %}

    </div>
{% endblock %}

