{% extends 'base.html' %}
{% block title %}
Карточка товара
{% endblock %}}

{% block content %}
    <div class="container">
    <div class="card mt-5 bg-light">
            <div class="card-header text-white bg-primary">
                Карточка товара
            </div>
        <div class="row">
            <div class="col-7">
            <div class="card-body ml-5">


                <table class="table mt-5">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th >{{ product.name }}</th>

                    </thead>
                    <tbody>
                        <tr>
                            <td>Категория:</td>
                            <td>{{ product.category }}</td>
                        </tr>
                        <tr>
                            <td>Атрикул:</td>
                            <td>{{ product.vendor_code }}</td>
                        </tr>
                        <tr>
                            <td>Цена: </td>
                            <td>{{ product.price }}</td>
                        </tr>
                        <tr>
                            <td>количество на складе: </td>
                            <td>{{ product.quantity_in_stock }}</td>
                        </tr>
                        <tr>
                            <td>зарезервираванно:  </td>
                            <td>{{ product.reserve }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

</div>
                <div class="col-4 mt-5">
                    {% if product.description %}
                    <h5 class="mt-5">Описание</h5>
        <p class ="card-text">{{ product.description|truncatechars:180 }}</p>
                    {% endif %}

                    <h5 class="mt-1">Операции</h5>
                    <a class="btn btn-primary mt-3" href="#" role="button">Поставка</a>
                    <a class="btn btn-info mt-3" href="#" role="button">Отгрузка</a>
                </form>
            </div>
    </div>
            </div>
    </div>

    </div>
{% endblock %}
