{% extends 'base.html' %}
{% block title %}
    Товар
{% endblock %}
{% block content %}
    <div class="container">

        <div class="card mt-5 bg-light">
            <div class="card-header text-white bg-primary">
               Создать товар
            </div>
            <div class="row">
                <div class="col-7">
            <div class="card-body">
                <p class="card-text">Создайте товар</p>

                <form method="post">
                    <div class="form-group ">
                        {% csrf_token %}

                        {{ form.name.label_tag }}
                        {{ form.name }}</div>

                        <div class="form-group ">
                        {{ form.category.label_tag }}
                        {{ form.category }}</div>

                                            <div class="form-group ">
                        {{ form.vendor_code.label_tag }}
                        {{ form.vendor_code }}</div>

                                            <div class="form-group ">
                        {{ form.price.label_tag }}
                        {{ form.price }}</div>

                                            <div class="form-group ">
                        {{ form.quantity_in_stock.label_tag }}
                        {{ form.quantity_in_stock }}</div>

                                                              <div class="form-group ">
                        {{ form.description.label_tag }}
                        {{ form.description }}</div>



                    <input type="submit" class="btn btn-primary" value="Создать">
                    <a class="btn btn-secondary" href="{% url 'index' %}" role="button">Отмена</a>
                </form>
            </div>
</div>
<div class="col-4 mt-5">
            <p class ="card-text mt-5">Добавте товары чтобы вести складской учет</p>
    <p class ="card-text">Укажите стоимость еденицы товара, начальное количество и категорию.</p>
    </div>
            </div>
        </div>
    </div>
{% endblock %}