{% extends 'base.html' %}

{% block title %}
    Отгрузка завершина
{% endblock %}

{% block content %}
<div class="container">
    <div class="card mt-5">
  <div class="card-header">
    {{ mes }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Заявка на отгрузку №{{ order.pk }} удовлетворена. Товары переданы из склада</h5>
          {% for item in order_items %}
        <p class="card-text"> Переданно {{ item.quantity }} {{ item.product }} теперь на складе - {{ item.product.quantity_in_stock }} </p>
              <p>Резерв по другим заявкам {{ item.product.reserve }}</p>
    {% endfor %}

    <a href="{% url 'index' %}" class="btn btn-primary">На главную</a>
  </div>
</div>
</div>
{% endblock %}
