{% extends 'base.html' %}
{% block title %}
    Выбор поставщика
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card mt-5 bg-light">
            <div class="card-header text-white bg-primary">
                Поставка на склад
            </div>
            <div class="card-body">
                <p class="card-text">Для орормления заявки на поставку товаров на склад необходимо указать поставщика</p>

                <form method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form }}

                    </div>
                    <input type="submit" class="btn btn-primary" value="Далее">
                    <a class="btn btn-secondary" href="{% url 'index' %}" role="button">Отмена</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
