{% extends 'base.html' %}

{% block title %}
    Оформление поставки
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card mt-5 bg-light">
            <div class="card-header text-white bg-primary">
                Поставка на склад
            </div>
            <div class="card-body">
                <h5 class="display-5 card-title"> Поставка № {{ supply.pk }} от {{ supply.date }} </h5>

                <p class="card-text"> Поставщик {{ supply.supplier }}</p>
                <a class="btn btn-info" href="{% url 'supplier_list' %}" role="button">Выбрать поставщика из списка</a>
                <hr>
                <p class="card-text mt-2">Добавить товар</p>

                <a class="btn btn-info" href="{% url 'product_list' %}">Выбрать товар из списка</a>
                <div class="card bg-light col-md-10 mt-2 mt-3">
                    <div class="card-body">
                        <h5 class="card-title"> Быстрое добавление </h5>
                        <form method="post" class="mt-4">

                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">

                                    {{ form.product.label_tag }}
                                    {{ form.product }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.quantity.label_tag }}
                                    {{ form.quantity }}
                                </div>


                                <div class="form-group col-md-2">
                                    <label for="submit">Добавить товар</label>
                                    <input type="submit" id="submit" class="btn btn-primary" value="Ok">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <br>
                <h5 class="mt-3">Товары:</h5>

                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Артикул</th>
                        <th scope="col">Товар</th>
                        <th scope="col">Категория</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Кол-во</th>
                        <th scope="col">Стоимость</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in supply_items %}
                        <tr>
                            <th scope="row">{{ item.product.vendor_code}}</th>
                            <td>{{ item.product }}</td>
                            <td>{{ item.product.category }}</td>
                            <td>{{ item.product.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.total_price_item }}</td>
                        </tr>
                    {% endfor %}
                    <tr >
                        <th  class="text-right" colspan="5" >Итого:</th>
                        <th>{{ supply.total_price }}</th>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary" href={% url 'supply_sent' %} class="button">Запрос товаров</a>
            </div>
        </div>
    </div>
{% endblock %}