{% extends 'base.html' %}
{% block title %}
    Список заявок на поставку
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="display-4">Список заявок на поставку </h1>
    <div class="row">
    <div class="col-8">
<ul class="list-group mt-5">
        {% for supply in supplies %}

                <li class="list-group-item d-flex justify-content-between mb-2 text-right">
                    <a href="{%  url 'supply_detail_storekeeper' supply.pk %}">
                    Поставка №{{ supply.id }} от {{ supply.date }}</a>

                    <small class="text-muted ">
                        Поставщик: {{ supply.supplier }}</small>
                    <span class="badge
                    {% if supply.status == 0 %}
                    badge-primary
                    {% elif supply.status == 1 %}
badge-success
                    {% endif %}
                    badge-pill" >
                        {{ supply.get_status_display }}</span>
                </li>

        {% endfor %}
</ul>
    </div>

    <div class="col border rounded mt-5">
        <p>Фльтры</p>

    </div>
</div>
    </div>
{% endblock %}
