{% extends 'base.html' %}
{% block title %}
    Выбор поставщика
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-5 bg-light">
            <div class="card-header text-white bg-primary">Катрочка поставщика
            </div>
            <div class="card-body">
                <p class="card-text"> Поставщик {{ supplier }}</p>


                <form method="post" class="mt-5">

                    <div class="form-row">
                        <div class="col">
                            {% csrf_token %}
                            {{ form }}
                            <input class="btn btn-primary" type="submit" value="Выбрать">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}