{% extends 'base.html' %}

{% block title %}
    Поставка
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                Поставка на склад
            </div>
            <div class="card-body">
                <h5 class="display-5 card-title"> Поставка № {{ supply.pk }} от {{ supply.date }} </h5>

                <p class="card-text"> Поставщик {{ supply.supplier }}</p>

        <p>Товары:</p>

        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">#id</th>
                <th scope="col">Товар</th>
                <th scope="col">Категория</th>
                <th scope="col">Колличество</th>
            </tr>
            </thead>
            <tbody>

            {% for item in supply_items %}
                <tr>
                    <th scope="row">{{ item.product.id }}</th>
                    <td>{{ item.product }}</td>
                    <td>{{ item.product.category }}</td>
                    <td>{{ item.quantity }}</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
                {% if supply.status != 1 %}
                <a class="btn btn-primary" href="{% url 'deliver_to_storage' supply.pk %}" class="button">Притять поставку</a>
            <a class="btn btn-primary" href="#" class="button">Отклонить поставку</a>
            {% endif %}
        </div>

    </div>


{% endblock %}
        <p><a href="{% url 'deliver_to_storage' supply.pk %} ">Притять поставку</a></p>