{% extends 'base.html' %}

{% block title %}
    Заявка на поставку
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-5 bg-light">
            <div class="card-header text-white bg-primary">
                Заявка на поставку
            </div>
            <div class="card-body">
                <h5 class="card-title">Заявка на поставку {{ supply.pk }} от {{ supply.date }}</h5>
                <p class="card-text">Заявка на поставку товаров отправленна поставщику {{ supply.supplier }}</p>
                <a href="{% url 'index' %}" class="btn btn-primary">На главную</a>
            </div>
        </div>
    </div>
{% endblock %}
